[buildout]
extends = buildout-base.cfg

effective-user = plone
buildout-user = plone

parts =
    instance
    zeoserver
    repozo
    backup

develop =
    src/imiimenik.podoba
    src/imiimenik.produkti
    src/dezurstva.podoba
    src/dezurstva.produkti
    src/kiestra.podoba
    src/kiestra.produkti
    src/preiskave.podoba
    src/preiskave.produkti

[instance_base]

[instance]
# Use this section to install and configure a Zope operating
# instance.
# For options see http://pypi.python.org/pypi/plone.recipe.zope2instance

# The line below sets only the initial password. It will not change an
# existing password.
user = ${buildout:user}
# if we try to start as root, Zope will switch to the user below
effective-user = ${buildout:effective-user}
# change debug-mode to "on" to run in development mode.
# starting in foreground (fg) mode is a better way to do this.
debug-mode = off
# change verbose-security to "on" for detailed security
# errors while developing
verbose-security = ${buildout:verbose-security}
# change deprecation-warnings to "on" to get log warnings
# for deprecated usages.
deprecation-warnings = ${buildout:deprecation-warnings}

# storage locations
var = ${buildout:var-dir}
blob-storage = ${:var}/blobstorage

# Comment the next four lines out if you don't need
# automatic log rotation for event and access logs.
event-log-max-size = 5 MB
event-log-old-files = 5
access-log-max-size = 20 MB
access-log-old-files = 5

# If you want Zope to know about any additional eggs, list them here.
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = ${buildout:zcml}

products = ${buildout:directory}/products

# You may also control the environment variables for the instance.
environment-vars = ${buildout:environment-vars}

recipe = plone.recipe.zope2instance
http-address = 8090
eggs +=
    imiimenik.podoba
    imiimenik.produkti
#    redturtle.smartlink
    Products.LinguaPlone
    Products.TinyMCE
    Products.PloneFormGen
#    Products.PloneArticle
    collective.editskinswitcher
#    collective.sortmyfolder
    dezurstva.podoba
    dezurstva.produkti
    xlwt
    xlrd
    kiestra.podoba
    kiestra.produkti
    preiskave.podoba
    preiskave.produkti
    z3c.jbot

#zope-conf-additional = 
#	<zodb_db main> 
#		<zeoclient> 
#			server zeoserver:8100 
#			name main 
#		</zeoclient> 
#		mount-point / 
#	</zodb_db>
zeo-client = true
zeo-address = zeoserver:8100

[zeoserver]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 0.0.0.0:8100

[versions]
collective.recipe.backup = 4.0.1
xlwt = 0.7.5
xlrd = 0.8.0
redturtle.smartlink = 1.3.2
Products.LinguaPlone = 4.1.2
Products.PloneArticle = 4.2.0
Products.PloneFormGen = 1.7.17
collective.editskinswitcher = 2.3
z3c.jbot = 0.7.2
wicked = 1.1.12
