[buildout]
# standalone instance - no ZEO
parts =
    instance

var-dir = ${buildout:directory}/var
backups-dir = ${buildout:var-dir}
user = admin:admin
effective-user = plone
buildout-user = plone
verbose-security = off
deprecation-warnings = off

eggs =
    Plone
    Pillow

environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    TZ UTC

zcml =

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = ${buildout:user}
effective-user = ${buildout:effective-user}
debug-mode = off
verbose-security = ${buildout:verbose-security}
deprecation-warnings = ${buildout:deprecation-warnings}
var = ${buildout:var-dir}
blob-storage = ${:var}/blobstorage
event-log-max-size = 5 MB
event-log-old-files = 5
access-log-max-size = 20 MB
access-log-old-files = 5
eggs = ${buildout:eggs}
zcml = ${buildout:zcml}
environment-vars = ${buildout:environment-vars}
