[buildout]
extends =
    https://dist.plone.org/release/4.3.20/versions.cfg
    buildout-base.cfg

effective-user = plone
buildout-user = plone

parts =
    instance

develop =
    src/imiimenik.podoba
    src/imiimenik.produkti
    src/dezurstva.podoba
    src/dezurstva.produkti
    src/kiestra.podoba
    src/kiestra.produkti
    src/preiskave.podoba
    src/preiskave.produkti
    src/nadomescanja.produkti
    src/nadomescanja.podoba

[instance]
user = ${buildout:user}
effective-user = ${buildout:effective-user}
debug-mode = off
verbose-security = ${buildout:verbose-security}
deprecation-warnings = ${buildout:deprecation-warnings}

var = ${buildout:var-dir}
blob-storage = ${:var}/blobstorage
file-storage = ${:var}/filestorage/Data.fs

event-log-max-size = 5 MB
event-log-old-files = 5
access-log-max-size = 20 MB
access-log-old-files = 5

recipe = plone.recipe.zope2instance
http-address = 8090

eggs =
    ${buildout:eggs}
    imiimenik.podoba
    imiimenik.produkti
    Products.TinyMCE
    Products.PloneFormGen
    collective.editskinswitcher
    dezurstva.podoba
    dezurstva.produkti
    xlrd
    kiestra.podoba
    kiestra.produkti
    preiskave.podoba
    preiskave.produkti
    nadomescanja.podoba
    nadomescanja.produkti
    z3c.jbot
    Pillow

zcml = ${buildout:zcml}

products = ${buildout:directory}/products

environment-vars = ${buildout:environment-vars}

[versions]
collective.recipe.backup = 4.0.1
xlrd = 0.8.0
Products.PloneFormGen = 1.7.17
collective.editskinswitcher = 2.3
z3c.jbot = 0.7.2
wicked = 1.1.12
